#lightboxBackground{ /*The background to the lightbox, made visible with JS*/
    background-image: url('./images/backgroundLightbox.png');
    background-repeat: repeat;
    background-size: 1rem;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 80;
    display: none;
    top:0;
    right: 0;
    cursor: pointer;
}

.lightboxStyle{ /*styling of the lightbox*/
    position: fixed;
    width: 17rem;
    height: 32rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    top: 0.2rem;
    font-size: 0.9rem;
    z-index: 90;
    border: #000000 solid 0.2rem;
    padding: 1.1rem;
}

.lightboxOffButton{ /*styling of the OFF-button in the lightbox*/
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    background: white;
    border: #000000 solid 0.2rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.65rem;
    cursor: pointer;
}

form{ /*Button styling of the links in the lightbox*/
    margin: auto;
    width: 14rem;
    display: flex;
    flex-direction: column;
}

form button{
    margin: 0.5rem;
    display: block;
    height: 3rem;
    border: #1ba3aa solid 0.2rem;
    font-size: 1.3rem;
    color: #1ba3aa;
}

.youtube{ /*Youtube styling*/
    width: 16rem;
    height: 8rem;
    display: block;
}


.centerLightboxContent p{ /*Centering all content in the lightbox*/
    display: block;
    margin: auto;
    padding: 1rem 0;
}

.centerLightboxContent a{
    color: black;
}

/*Turn off lightboxes*/
#kuritornLightbox, #alingsasLightbox, #rimliktLightbox, #vilsekomnaLightbox, #potatomonLightbox, #ljudbokLightbox{
    display: none;
}


.imgLightbox{       /*Styling of images in the lightbox*/
    display: block;
    background-size: 15.6rem;
    width: 15.6rem;
    height: 11rem;
    display:block;
    object-fit: contain;
    margin: auto;
    border: #000000 solid 0.2rem;
}

/*Lightbox images*/
.imgPotatomonLightbox{
    background-image: url('./images/screen_potatomon.png');
}

.imgAlingsasLightbox{
    background-image: url('./images/screen_alingsas.png'); 
}

.imgLjudbokLightbox{ /*Overrides imgLightbox height. Don't change the order or put !important*/
    background-image: url('./images/screen_ljudbok.jpg');
    height: 5rem;
}

.instagramLightboxSmall{ /*instagram styling in mobile*/
    background-color: white;
    width: 100%;
    border: 0;
    overflow: hidden;
    display: block;
}

.instagramLightboxLarge{ /*Youtube styling in 48rem>*/
    background-color: white;
    width: 22rem;
    border: 0;
    overflow: hidden;
    display: none;
    margin: auto;
}



/*Resizing for different screens*/
@media(min-width: 48rem){


    .lightboxStyle{
        width: 44rem;
        font-size: 1rem;
    }
    
    .lightboxOffButton{
        height: 3rem;
        width: 3rem;
        position: absolute;
        top: 0.3rem;
        right: 0.4rem;
        font-size: 2.4rem;
    }

    .youtube{
        width: 35rem;
        height: 19rem;
        margin: auto;
    }

    .centerLightboxContent p{
        width: 35rem;
        margin: auto;
    }

    .imgLightbox{
        background-size: 35rem;
        width: 35rem;
        height: 19rem;
        display:block;
        object-fit: contain;
        margin: auto;
    }

    .instagramLightboxSmall{
        display: none;
    }
    
    .instagramLightboxLarge{
        display: block;
    }

    .imgLjudbokLightbox{ /*Overrides imgLightbox height. Don't change the order*/
        height: 12rem;
    }

    form{
        flex-direction: row;
    }

    form button{
        width: 7rem;
    }

    .aloneButton{
        width: 14rem;
    }


}


@media(min-width: 62rem){
    .lightboxStyle{
        right:18%;
    }
}

@media(min-width: 75rem){
    .lightboxStyle{
        right:24%;
    }
}
