/*
    Index - 62rem
    ------
    miscellaneous
    boxOskarLogo - boxProjekt - boxSkills
    boxKontakt
    boxOmMig
    boxUtbildning - boxJobb
    boxBild
*/

@media(min-width: 62rem){
    main {
        width: 60rem;
    }

    .box {
        width: 28.5rem;
        height: 19rem;
        background-size: 28.5rem;
    }

    .boxOskarLogo, .boxProjekt, .boxSkills { /*Styles .boxOskarLogo, .boxProjekt, .boxSkills*/
        width: 59rem;
    }
    .boxOskarLogo img{
        position: relative;
        top: 0.5rem;
        left: 2rem;
    }
    .boxProjekt img{
        position: relative;
        top: 0.5rem;
        left: 2rem;
    }
    .boxSkills{
        height: 4.4rem;
        width: 26.6rem;
    }

    .boxKontakt{                         /*Styles kontakt in 62rem*/
        height: 17rem;
        width: 26.6rem;
    }
    .boxKontaktbackground{
        background-size: 26rem 13.5rem;
    }

    .boxOmMig{                        /*Styles omMig in 62rem*/
        width: 56.8rem;
        height: 15rem;
    }

    .boxUtbildning, .boxJobb{       /*Styles boxUtbildning and boxJobb in 62rem*/
        width: 26.6rem;
        height: 17rem;
    }
    .boxUtbildningbackground{
        background-size: 26rem 12rem;
    }
    .boxJobbbackground{
        background-size: 26rem 15rem;
    }
    .breakrow{/*control breakrows in boxjobb*/
        display: none;
    }


    .boxBild{                       /*Styles boxBild in 62rem*/
        background-image: url('./images/bildOskar62.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 28.5rem;
        background-position: -10em 0;
    }

    .textbox{                      /*Resizes the textbox for 62rem*/
        width: 43%;
    }

    .gridStructure{                 /*Restructure for 62rem*/
        grid-template-areas: 
        "boxOskarLogo boxOskarLogo"
        "boxKontakt boxBild"
        "boxSkills boxBild"
        "boxOmMig boxOmMig"
        "boxJobb boxUtbildning"
        "boxProjekt boxProjekt"
        "boxAlingsas boxKuritorn" 
        "boxVilsekomna boxRimlikt"
        "boxLjudbok boxPotatamon"
        ;
        gap: 1.2rem 0.5rem;
    }
}
