
@media(min-width: 62rem){                           /*62rem*/
    main {
        width: 60rem;
    }

    .box {
        width: 28.5rem;
        height: 19rem;
        background-size: 28.5rem;
    }


    .gridStructure{
        grid-template-areas: 
        "boxOskarLogo boxOskarLogo"
        "boxKontakt boxBild"
        "boxSkills boxBild"
        "boxOmMig boxOmMig"
        "boxJobb boxUtbildning"
        "boxProjekt boxProjekt"
        "boxAlingsas boxKuritorn" 
        "boxVilsekomna boxRimlikt"
        "boxLjudbok boxPotatamon"
        ;
        gap: 1.2rem 0.5rem;
    }

    .boxKontakt{
        height: 17rem;
    }


    .boxOskarLogo, .boxProjekt, .boxSkills {
        width: 59rem;
    }

    .boxOskarLogo img{
        position: relative;
        top: 0.5rem;
        left: 2rem;
    }

    .boxProjekt img{
        position: relative;
        top: 0.5rem;
        left: 2rem;
    }

    .textbox{
        width: 43%;
    }
    .boxBild{
        background-image: url('./images/bildOskar3.jpg');
        width: 28.5rem;
        background-size: 27rem;
    }


    .boxKontakt, .boxUtbildning, .boxJobb, .boxSkills{
        width: 26.6rem;
    }

    .boxSkills{
        height: 4.4rem;
    }

    .boxOmMig{
        width: 56.8rem;
        height: 15rem;
    }

    .breakrow{
        display: none;
    }

    .boxUtbildning .boxJobb{
        height: 16rem;
    }

    .boxUtbildningbackground{
        background-size: 26rem 12rem;
    }
    .boxJobbbackground{
        background-size: 26rem 15rem;
    }
    .boxKontaktbackground{
        background-size: 26rem 13.5rem;
    }
}