*{
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
    line-height: 1.5;
}

body {
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 1rem;
}

main {
    width: 18rem;
    background-color: #ffffff;
    border: #000000 solid 0.2rem;
    margin: 1rem auto;
    padding: 1.2rem;
}

.largetextbox{
    padding: 1rem;
}

.box{
    margin: auto;
    border: #000000 solid 0.2rem;
    width: 16rem;
    height: 11rem;
    background-size: 16rem;
    object-fit: cover;
    cursor: pointer;
}


.boxOskarLogo, .boxProjekt {
    margin: auto;
    border: #000000 solid 0.2rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    width: 16rem;
    height: 3rem;
}

/* FANSKAP*/
.boxKontakt{
    width: 14rem;
    height: 14rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.15rem;
}

.boxKontaktbackground{
    background-image: url('./images/bubble.png');
    background-repeat: no-repeat;
    background-size: 14rem 13rem;
}

.boxOmMig{
    border: #000000 solid 0.2rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    height: 3rem;
    width: 14rem;
    height: 42.5rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.27rem;
}

.boxSkills{
    margin: auto;
    border: #000000 solid 0.2rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    height: 3rem;
    width: 14rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxSkills img{
    width:2rem;
    height: 2rem;
}

.boxUtbildning{
    width: 14rem;
    height: 16rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.3rem;
}

.boxUtbildning b{
    font-size: 1.12rem;
}

.boxUtbildningbackground{
    background-image: url('./images/thinkbubble.png');
    background-repeat: no-repeat;
    background-size: 14rem 13rem;
}

.boxJobb{
    width: 14rem;
    height: 24rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.1rem;
}

.boxJobbbackground{
    background-image: url('./images/bubble_bang.png');
    background-repeat: no-repeat;
    background-size: 14rem 24rem;
}
/* FANSKAP*/

.boxOskarLogo img{
    height: 2.5rem;
    margin: 0.3rem;
}

.boxProjekt img{
    height: 2.5rem;
    width: 10rem;
    margin: 0.3rem;
}

.textbox{
    position: relative;
    border: #000000 solid 0.2rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    padding: 0.5rem;
    top: 5%;
    right: -5%;
    width: 45%;
}

.boxOskarLogo{
    grid-area: boxOskarLogo;
}

.boxKontakt{
    grid-area: boxKontakt;
    background-image: url('./images/background.png');
}
.boxOmMig{
    grid-area: boxOmMig;
    background-image: url('./images/background.png');
}

.boxBild{
    grid-area: boxBild;
    background-image: url('./images/bildOskar.jpg');
    display: none;
}

.boxProjekt{
    grid-area: boxProjekt;
}

.boxKuritorn{
    grid-area: boxKuritorn;
    background-image: url('./images/kuritorn.jpg');
}

.boxAlingsas{
    grid-area: boxAlingsas;
    background-image: url('./images/alingsas.jpg');
}
.boxRimlikt{
    grid-area: boxRimlikt;
    background-image: url('./images/rimlikt.jpg');
}
.boxVilsekomna{
    grid-area: boxVilsekomna;
    background-image: url('./images/vilsekomna.jpg');
}
.boxPotatamon{
    grid-area: boxPotatamon;
    background-image: url('./images/potatamon.jpg');
}
.boxLjudbok{
    grid-area: boxLjudbok;
    background-image: url('./images/ljudbok.jpg');
}

.boxSkills{
    grid-area: boxSkills;
}
.boxUtbildning{
    grid-area: boxUtbildning;
}
.boxJobb{
    grid-area: boxJobb;
}


.gridStructure{
    display: grid;
    grid-template-areas:
    "boxOskarLogo"
    "boxKontakt"
    "boxOmMig"
    "boxSkills"
    "boxUtbildning"
    "boxJobb"
    "boxProjekt"
    "boxKuritorn"
    "boxAlingsas" 
    "boxRimlikt" 
    "boxVilsekomna"
    "boxPotatamon"
    "boxLjudbok"
    "boxBild"
    ;
    gap: 1rem;
}


#upButton{
    display: none;
    position: fixed;
    bottom: 3%;
    width: 3rem;
    height: 3rem;
    z-index: 70;
    cursor: pointer;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    border-radius: 3rem;
    text-align: center;
    align-content: center;
    font-size: 2.2rem;
    border: #000000 solid 0.2rem;
    transition: 5s;
}


@media(min-width: 48rem){
    main {
        width: 46rem;
    }
    
    .box{
        width: 44rem;
        height: 30rem;
        background-size: 44rem;
    }

    .boxOskarLogo, .boxProjekt, .boxSkills {
        width: 44rem;
        height: 6rem;
    }
    .boxOskarLogo img{
        width: 43rem;
        height: 5rem;
    }
    .boxProjekt img{
        width: 25rem;
        height: 5rem;
    }

    .textbox{
        width: 30%;
    }

    .boxBild{
        display: block;
    }

    .boxKontakt, .boxBild{
        width: 20.6rem;
    }
    .boxBild{
        background-image: url('./images/bildOskar2.jpg');
        background-size: 22rem;
    }

    .gridStructure{
        display: grid;
        grid-template-areas:
        "boxOskarLogo boxOskarLogo"
        "boxOmMig boxOmMig"
        "boxKontakt boxBild"
        "boxUtbildning boxJobb"
        "boxSkills boxSkills"
        "boxProjekt boxProjekt"
        "boxKuritorn boxKuritorn"
        "boxAlingsas boxAlingsas" 
        "boxRimlikt boxRimlikt" 
        "boxVilsekomna boxVilsekomna"
        "boxPotatamon boxPotatamon"
        "boxLjudbok boxLjudbok"
        ;
        gap: 1rem;
    }
}

@media(min-width: 62rem){
    main {
        width: 60rem;
    }
    .box {
        width: 28.5rem;
        height: 19rem;
        background-size: 28.5rem;
    }


    .gridStructure{
        display: grid;
        grid-template-areas: 
        "boxOskarLogo boxOskarLogo"
        "boxOmMig boxBild"
        "boxOmMig boxKontakt"
        "boxUtbildning boxJobb"
        "boxSkills boxSkills"
        "boxProjekt boxProjekt"
        "boxKuritorn boxAlingsas"
        "boxRimlikt boxVilsekomna" 
        "boxPotatamon boxLjudbok"
        ;
    }

    .boxOskarLogo, .boxProjekt, .boxSkills {
        width: 59rem;
    }

    .boxOskarLogo img{
        position: relative;
        top: 0.5rem;
        left: 2rem;
    }

    .boxProjekt img{
        position: relative;
        top: 0.5rem;
        left: 2rem;
    }

    .textbox{
        width: 43%;
    }
    .boxBild{
        background-image: url('./images/bildOskar.jpg');
    }
}


@media(min-width: 75rem){
    main {
        width: 73rem;
    }
    .box {
        width: 23rem;
        height: 16rem;
        background-size: 23rem;
    }

    .gridStructure{
        display: grid;
        grid-template-areas: 
        "boxOskarLogo boxOskarLogo boxOskarLogo"
        "boxKontakt boxOmMig boxBild"
        "boxUtbildning boxOmMig boxJobb"
        "boxSkills boxSkills boxSkills"
        "boxProjekt boxProjekt boxProjekt"
        "boxKuritorn boxAlingsas boxRimlikt"
        "boxPotatamon boxVilsekomna boxLjudbok"

        ;
    }

    .boxOskarLogo, .boxProjekt, .boxSkills{
        width: 72rem;
    }
    .textbox{
        width: 39%;
    }
    .boxBild{
        background-size: 243em;
    }
}