/*
    Index
    ------
    miscellaneous
    boxOskarLogo
    boxKontakt
    boxOmMig
    boxSkills
    boxUtbildning
    boxJobb
    boxBild
    boxProjekt
    boxKuritorn
    boxAlingsas 
    boxRimlikt 
    boxVilsekomna
    boxPotatamon
    boxLjudbok
    ----
    Grid
    upButton
*/


*{                      /*Removes default margin and padding. And add font*/
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
    line-height: 1.5;
}


body {                     /*Background only*/
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 1rem;
}

main {                     /*Size and more for content background*/
    width: 19rem;
    background-color: #ffffff;
    border: #000000 solid 0.2rem;
    margin: 1rem auto;
    padding: 0.6rem 2rem 0.6rem 0.6rem;
}

.largetextbox{                    /*Padding, transition and border. In kontakt, omMig, utbildning, jobb*/
    padding: 1rem;
    transition: height 0.3s;
    border: #000000 solid 0.2rem;
}

.downToggleButton{          /*Control the downToggleButton*/
    display: inline-block;
}

.upToggleButton{          /*Control the upToggleButton*/
    display: none;
}


.box, .boxBild{
    border: #000000 solid 0.2rem;
    height: 11rem;
    width: 20rem;;
    background-size: 20rem;
    object-fit: cover;
}


.boxOskarLogo, .boxProjekt {    /*boxOskarLogo and boxProjekt control*/
    border: #000000 solid 0.2rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    width: 19.9rem;
    height: 3.5rem;
}

.boxOskarLogo{
    grid-area: boxOskarLogo;
}

.boxOskarLogo img{
    height: 2.5rem;
    margin: 0.3rem;
}

.boxKontakt{                    /*boxKontakt control*/
    width: 18rem;
    height: 1.5rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.15rem;
    grid-area: boxKontakt;
}

.boxKontakt .hideInMobile{
    display: none;
}


.boxOmMig{                      /*boxOmMig control*/
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    height: 1.5rem;
    width: 18rem;
    background-repeat: repeat;
    background-size: 0.27rem;
    grid-area: boxOmMig;
    
}
.boxOmMig .hideInMobile{
    display: none;
}

.boxSkills{                      /*boxSkills control*/
    border: #000000 solid 0.2rem;
    background-image: url('./images/background-02.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    height: 3rem;
    width: 18rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: boxSkills;
    
}

.boxSkills img{
    width:2rem;
    height: 2rem;
}

.boxUtbildning{                 /*boxUtbildning control*/
    width: 18rem;
    height: 1.5rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.3rem;
    grid-area: boxUtbildning;
}

.boxUtbildning .hideInMobile{
    display: none;
}

.boxUtbildning b{
    font-size: 1.12rem;
}


.boxJobb{                     /*boxUtbildning control*/
    width: 18rem;
    height: 1.5rem;
    background-image: url('./images/background-02.png');
    background-repeat: repeat;
    background-size: 0.3rem;
    font-size: 1rem;
    grid-area: boxJobb;
}

.boxJobb .hideInMobile{
    display: none;
}

.boxJobb b{
    font-size: 1.1rem;
}

.boxProjekt img{                /*boxProjekt control(Also check with logo)*/ 
    height: 2.5rem;
    width: 10rem;
    margin: 0.3rem;
}
.boxProjekt{
    grid-area: boxProjekt;
}

.boxBild{                       /*boxBild control (not visible)*/
    grid-area: boxBild;
    display: none;
}

.textbox{                      /*Controls the textbox inside projekts*/
    position: relative;
    border: #000000 solid 0.2rem;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    padding: 0.5rem;
    top: 5%;
    right: -5%;
    width: 45%;
}

.boxKuritorn{               /*boxKuritorn control (mostly controlled by .box)*/
    grid-area: boxKuritorn;
    background-image: url('./images/kuritorn.jpg');
}

.boxAlingsas{           /*boxAlingsas control (mostly controlled by .box)*/
    grid-area: boxAlingsas;
    background-image: url('./images/alingsas.jpg');
}
.boxRimlikt{            /*boxRimlikt control (mostly controlled by .box)*/
    grid-area: boxRimlikt;
    background-image: url('./images/rimlikt.jpg');
}
.boxVilsekomna{         /*boxVilsekomna control (mostly controlled by .box)*/
    grid-area: boxVilsekomna; 
    background-image: url('./images/vilsekomna.jpg');
}
.boxPotatamon{          /*boxPotatamon control (mostly controlled by .box)*/
    grid-area: boxPotatamon;
    background-image: url('./images/potatamon.jpg');
}
.boxLjudbok{             /*boxLjudbok control (mostly controlled by .box)*/
    grid-area: boxLjudbok;
    background-image: url('./images/ljudbok.jpg');
}


.gridStructure{           /*Structure(grid) of the site*/
    display: grid;
    grid-template-areas:
    "boxOskarLogo"
    "boxKontakt"
    "boxOmMig"
    "boxSkills"
    "boxUtbildning"
    "boxJobb"
    "boxProjekt"
    "boxKuritorn"
    "boxAlingsas" 
    "boxRimlikt" 
    "boxVilsekomna"
    "boxPotatamon"
    "boxLjudbok"
    "boxBild"
    ;
    gap: 0.6rem;
    justify-items: center;
}


#upButton{                /*Styles the up-button that takes you to start*/
    display: none;
    position: fixed;
    bottom: 3%;
    width: 3rem;
    height: 3rem;
    z-index: 70;
    cursor: pointer;
    background-image: url('./images/background.png');
    background-repeat: repeat;
    background-size: 0.2rem;
    border-radius: 3rem;
    text-align: center;
    align-content: center;
    font-size: 2.2rem;
    border: #000000 solid 0.2rem;
    transition: 5s;
}

